body {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    background: #1d1e22;
    color: #d4d4dc;
}

body {
    font-family: Inconsolata,monospace;
}

.container {
    width: 45vw;
    margin: auto;
}

a {
    color: #7abe6c;
    text-decoration: none;

    &:visited {
        color: #9c280b;
        text-decoration: none; 
    }
}


.lead {

    border-bottom: 1px solid #feda6a;
    margin: 24px 0;
    padding-bottom: 24px;
    text-align: center;

    h1 {
        font-size: 133%;
        a {
            background: #feda6a;
            color: #1d1e22;
            font-size: 250%;
            padding: 10px 15px;
            text-decoration: none;

        }
    }

    nav,
    ul,
    li {
        display: inline-block;
        vertical-align: baseline;
    }

    ul {

        li {
            list-style: none;
            margin-right: 25px;

            a {
                color: #d4d4dc;
                text-decoration: none;
            }
        }
    }
}

#post-list {
    .date {
        width: 128px;

        time {
            color: #d4d4dc;
        }
    }
}